body{
    margin: 0;
        text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5.625rem;
margin-top: 50px auto 0 auto;
font-family:'Sacramento', cursive;
color: goldenrod;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #666cbf;

}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;

}
.top-container{
    background-color: rgb(151, 230, 217);
    position: relative;
    padding-top: 80px;
}
.middle-container{
margin: 80px 0;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.top-cloud{
position: absolute;
right: 300px;
top: 50px;

}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
hr{
    width:10%;
    border-style:none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: gray;
    height: 0px;
    margin: 80px auto;
}

p{
    line-height: 2;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
a{
    color: #118185;
    margin: 10px 15px;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.copyright{
    color: #eaf6f6;
font-size: 0.75rem;
margin: 15px 0;
}
.py{
    height: 118px;
}
@media (max-width:1028px){
.m{
    height:180px;
}
.top-cloud{
position: absolute;
right: 10%;
top: 10%;
width: 110px;
}
.bottom-cloud{
 position: absolute;
    left: 10%;
    bottom: 18%;
    width: 100px;
}
}
